<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip.commandline" version="16.02.0.20170209" />
    <package id="7zip.portable" version="19.0" />
    <package id="avastfreeantivirus" version="21.2.6096.0" />
    <package id="ccleaner" version="5.78.8558" />
    <package id="chocolatey" version="0.10.15" />
    <package id="chocolatey-core.extension" version="1.3.5.1" />
    <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
    <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
    <package id="chocolateygui" version="0.18.1" />
    <package id="ConEmu" version="21.3.14.0" />
    <package id="curl" version="7.76.0" />
    <package id="deluge" version="1.3.15" />
    <package id="DotNet4.5.2" version="4.5.2.20140902" />
    <package id="dotnet4.7.2" version="4.7.2.20180712" />
    <package id="dotnetfx" version="4.8.0.20190930" />
    <package id="Everything" version="1.4.11005" />
    <package id="f.lux" version="4.119" />
    <package id="f.lux.install" version="4.119" />
    <package id="ffmpeg" version="4.3.2" />
    <package id="Firefox" version="87.0" />
    <package id="firefox-dev" version="88.0.6-beta" />
    <package id="foobar2000" version="1.6.4.20210213" />
    <package id="git" version="2.31.1" />
    <package id="git.install" version="2.31.1" />
    <package id="google-backup-and-sync" version="3.54.3529.0458" />
    <package id="jabref" version="5.3-dev" />
    <package id="jdk8" version="8.0.231" />
    <package id="KB2670838" version="1.0.20181019" />
    <package id="KB2919355" version="1.0.20160915" />
    <package id="KB2919442" version="1.0.20160915" />
    <package id="KB2999226" version="1.0.20181019" />
    <package id="KB3033929" version="1.0.5" />
    <package id="KB3035131" version="1.0.3" />
    <package id="kdiff3" version="0.9.98" />
    <package id="keepass" version="2.47" />
    <package id="keepass.install" version="2.47" />
    <package id="miktex" version="21.3" />
    <package id="miktex.install" version="21.3" />
    <package id="neovim" version="0.4.4.20210116" />
    <package id="nomachine" version="7.3.2.100" />
    <package id="notepadplusplus.install" version="7.9.5" />
    <package id="paint.net" version="4.2.15" />
    <package id="python3" version="3.9.2" />
    <package id="strawberryperl" version="5.32.1.1" />
    <package id="streamlink" version="2.1.0" />
    <package id="sumatrapdf" version="3.2" />
    <package id="sumatrapdf.commandline" version="3.2" />
    <package id="sumatrapdf.install" version="3.2" />
    <package id="sumatrapdf.portable" version="3.2" />
    <package id="texstudio" version="3.1.1" />
    <package id="texstudio.install" version="3.1.1" />
    <package id="thunderbird" version="78.9.0" />
    <package id="vcredist140" version="14.28.29913" />
    <package id="vcredist2008" version="9.0.30729.6163" />
    <package id="vcredist2015" version="14.0.24215.20170201" />
    <package id="virtualbox" version="6.1.18" />
    <package id="vlc" version="3.0.12" />
    <package id="windirstat" version="1.1.2.20161210" />
</packages>
